@font-face {
    font-family: 'adineue PRO Cyr Light Web';
    src: url('fonts/adineuePRO/adineuePROCyr-LightWeb.eot');
    src: url('fonts/adineuePRO/adineuePROCyr-LightWeb.eot?#iefix') format('embedded-opentype'),
        url('fonts/adineuePRO/adineuePROCyr-LightWeb.woff') format('woff'),
        url('fonts/adineuePRO/adineuePROCyr-LightWeb.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'adineue PRO Cyr Bold Web';
    src: url('fonts/adineuePRO/adineuePROCyr-BoldWeb.eot');
    src: url('fonts/adineuePRO/adineuePROCyr-BoldWeb.eot?#iefix') format('embedded-opentype'),
        url('fonts/adineuePRO/adineuePROCyr-BoldWeb.woff') format('woff'),
        url('fonts/adineuePRO/adineuePROCyr-BoldWeb.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'adihaus';
    src: url('fonts/AdihausDIN.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
  font-family: 'adineue PRO Cyr Light Web';
}

h4 {
  font-family: 'adineue PRO Cyr Light Web';
  margin-right: 35px;
  font-weight: bold;
  font-size: 27px;
  line-height: 24px;
  letter-spacing: 2.5px;
  margin-bottom: 50px;
  margin-top: 50px;
}

h3 {
  font-family: 'adineue PRO Cyr Bold Web';
  letter-spacing: 1.5px;
  margin-left: 100px;
  margin-bottom: 50px;
  margin-top: 50px;
}

h1 {
  font-family: 'adineue PRO Cyr Bold Web';
  letter-spacing: 1.5px;
  margin-right: 710px;
  text-align: center;
  /* margin-left: 5%; */
  margin-bottom: 40px;
  margin-top: 50px;
}

.navbar {
  padding: 0rem 8rem 2rem;
  background-color: black;
  height: 50px;
}

.topBar {
  height: 30px;
  font-family: 'adineue PRO Cyr Light Web';
  font-size: 11px;
  background: linear-gradient(90deg,#000 30%,transparent 50%),linear-gradient(180deg,#000 0,#363738);
}

.bBar {
  height: 50px;
  font-family: 'adineue PRO Cyr Light Web';
  font-size: 11px;
  background: black;
}

.search {
  font-family: 'adihaus';
  float: right;
  margin-top: -25px;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
}

.search input {
  padding: 2px;
  width: 100px;
  font-size: 12px;
  border: none;
  text-decoration: none;
}

input:focus {
  outline: none;
}

.card {
  width: 15rem;
  outline: none;
}

#app {
  margin: 300px 25px;
}

#likes {
  padding: 10px 10px 10px 10px;
}

.navbar-nav {
  color: white;
}

.nav-logo {
  margin-top: -30px;
  margin-left: 4%;
}

.bBar li {
  list-style-type: none;
  font-family: 'adihaus';
  margin-left: 8px;
}

.topBar li {
  list-style-type: none;
  font-family: 'adihaus';
  font-size: 12px;
  margin-left: 10px;
  margin-top: 5px;
}

#search-box {
  color: black;
  background-color: white;
}

.help {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 30px;
}

.choices {
  font-size: 15px;
  margin-top: -30px;
  margin-left: 140px;
  display: flex;
  flex-direction: row;
}

.white {
  color: white;
}

.details {
  display: flex;
  flex-grow: row;
  align-items: center;
  justify-content: center;
}

.detail {
  line-height: 45px;
  text-align: center;
  font-family: 'adineue PRO Cyr Bold Web';
  font-size: 14px;
  letter-spacing: 3px;
  height: 45px;
  width: 550px;
}

.selected {
  outline-style: solid;
  box-shadow: inset 0 -2px 0 #000;
  outline-width: thin;
  outline-color: black;
  border-bottom-width: 10px;
}

.unselected {
  color: #767677;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
}

.unselected:hover {
  color: #004040;
}

.product {
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 20px;
}

.detail-name {
  font-family: 'adineue PRO Cyr Bold Web';
  font-size: 28px;
}

.short-desc {
  font-family: 'adineue PRO Cyr Bold Web';
  font-size: 18px;
}

.col-sm {
  padding: 20px;
  margin-right: -10%;
}

.shoe-desc {
  margin-top: 5%;
}

.shoe-img {
  margin-left: 17%;
}

.para {
  font-family: 'adihaus', sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.details {
  font-family: 'adihaus', sans-serif;
}

#fbold {
  font-family: 'adineue PRO Cyr Bold Web';
}

.col-sm li {
  margin-bottom: 25px;
}

.first-col {
  margin-right: 70px;
  margin-left: 10px;
}

.sec-col {
  margin-left: -90px;
  margin-right: 30px;
}
